.display-felx{
    display: flex;
}
 .nav-item{
    list-style: none;
    margin-right: 30px;
    align-content: center;
}
  
.nav-link{
text-decoration: none;
}

.navbar{
    justify-content: space-between;
   margin: 50px 20%;
  display: flex;
  
}
.banner-font-size{
    font-size: 22px;
}
.btn-primary{
    background-color: #B68C5A;
    color: #FFFFFF; 
    width: 116px;
  height: 43px;

} 
.banner{
    text-align: center;
    margin-top: 127px;
    background-image: url(../legal-solution-resources/images/banner.png);
    width: 1173px;
    height: 380px;
    align-content: center;
    margin-left: 350px;
   
}
.text-color{
 color: #FFFFFF;  

}
.size{
    font-size: 60px;
}
.input-color{

color: rgb(0, 0, 0);

}
.Services{
    width: 369px;
  height: 41px;
    color: aliceblue;
}
.Search{
    width: 120px;
  height: 47px;
}
.carding{
   
  margin: 200px 20%;}
  .buy-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    padding: 22px;
}
.center{
  text-align: center;
}